{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}
{% block loggedin %}{% endblock %}
{% block content %}

    <div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
			        <div class="box">
			            <div class="content-wrap">
			                <h6>Sign In</h6>
			                <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
			                <div class="action">
			                    <button type="submit" class="btn btn-primary signup">Login</button>
			                </div>
                            </form>
			            </div>
			        </div>

			        <div class="already">
			            <p>Don't have an account yet?</p>
			            <a href="/accounts/register/">Register</a>
			        </div>
			    </div>
			</div>
		</div>
	</div>
{% endblock %}